.centr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centr button {
  margin: 0px 5px 0px 5px;
}

.reviews-btn {
    display: flex;
}

.reviews-btn button {
    margin: 0 15px 0 0;
}

.reviews img {
  width: 100px;
  height: 100px;
  margin: auto;
}

.reviews ul {
  margin: 0px;
  padding: 0;
  list-style: none;
}


/*-----------*/
.alert {
  margin-bottom: 1rem;
  height: 1.25rem;
  display: grid;
  align-items: center;
  text-align: center;
  font-size: 0.7rem;
  border-radius: 0.25rem;
  text-transform: capitalize;
}
.alert-danger {
  color: #721c24;
  background: #f8d7da;
}
.alert-success {
  color: #155724;
  background: #d4edda;
}













